<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action = "#" th:action="@{/searchdish}" th:object="${searchDish}" method="post">


    <p>Enter Dish Name: <input type="text" th:field="*{dish}" /></p>
    <!--<span th:if="${#fields.hasErrors('dish')}" th:error="*{firstname}">Your food doesnt taste good</span>-->


    <p><input type="submit" value="Search Dish" /> <input type="reset" value="Reset" /> </p>
    <a href="/searchchef"> Search by Chef </a><br/>
    <a href="/searchdish"> Search by Dish</a>
</form>
</body>
</html>